/*
	This file includes the settings for the various continental views.
*/
body {
    background-image: url("../Content/Bkgd.png");
    background-repeat: repeat;
}
.front {
	width: 90vw;
	margin: auto;
    background-image: url("../Content/BkgdF.png");
    background-repeat: repeat;
}

.africa {height:40vw;  overflow: hidden;}
.africa svg {
    margin-left: -50%;
	margin-top: -29%;
    min-width:168%;
    min-height:168%;
}

.asia {height:40vw;  overflow: hidden;}
.asia svg {
    margin-left: -150%;
	margin-top: -9%;
    min-width:100%;
    min-height:100%;
}

.europe {height:40vw;  overflow: hidden;}
.europe svg {
    margin-left: -190%;
	margin-top: -9%;
    min-width:390%;
    min-height:390%;
}

.south-america {height:40vw;  overflow: hidden;}
.south-america svg {
    margin-left: -30%;
	margin-top: -56%;
    min-width:230%;
    min-height:230%;
}

.north-america {height:40vw;  overflow: hidden;}
.north-america svg{
	margin-left: -1%;
	margin-top: -6%;
    min-width:240%;
    min-height:240%;
}

.oceania {height:40vw; overflow: hidden;}
.oceania svg {
    margin-left: -220%;
	margin-top: -80%;
    min-width:200%;
    min-height:200%;
}

.world {height:40vw; overflow: hidden;}
.world svg {
	margin: 0 auto;
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
	
}
/*GUI*/
.components{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width:100%;    
    height:20px;   
	background: linear-gradient(#D3D3D3,white);
}

.toolbar{ 
	background: linear-gradient(#D3D3D3,white);
    display: inline; 
	background: transparent;
}

.rbutton{
   
    border-radius: 4px;
    height: .8em;
}

select{
    background: linear-gradient(#D3D3D3,white);
    height: 15px;
    border: none;
}