.map-body{
    background:none;
    border:none;
}
.multi, .country{
    margin-bottom:10px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.left-column{
    width:455px;
}
.plus{
    display:inline-block;
    width:15px;
    height:15px;
    padding-left:3px;
    padding-top:0px;
    line-height:15px;
    background-color: #0000aa;
    color:white;
    border-radius:10px;
    text-decoration:none;
    cursor: pointer;
    user-select: none;
}
.plus:hover{
    text-decoration:none;
}
.country-name{
    margin-right:5px;
}
.save-multi, .save-country-name{
    float:right;
}
.container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.files-section{
    flex-basis:170px;
}
.two-column{
    display: flex;
    justify-content: space-between;
    height:100%;
}
.two-column > div {
    height: 100%;
    overflow-y: scroll;
    padding-right:20px;
}