/*Keep frame at the size of it's container*/
.map-html{ 
    height:100%;
}
.map-body{
    height:100%;
    border: 1px solid black;
    display: flex;              /*Layout for the map + toolbar*/
    flex-direction: column;
}
#key {                          /*Set height for button*/
    height:20px;
}

#perspective{                   /*Set map to start in the center of the container*/
    display:flex;
    justify-content:center;
}
.map{                           
    flex: 1;
}
.control-panel {                /*Layout for control panel*/
    height: 75px;
    padding: 5px;
}

.components{
    position:relative;
    z-index:10;
}
.toolbar > div{
    display:inline-block;
}
#legend {
    position: absolute;
    top:-80px;
    max-width: 100px;
    min-width: 70px;
    padding: 0px 5px;
    background: linear-gradient(to bottom, #00005A, #e1e1ff);
    text-align: center;
    color: white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:80px;
}
#legend .top, #legend .bottom{
    display:block;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Class that can be toggled to hide elements*/
.hide{
    display:none;
}
/*Expand toolbar when screen gets too small*/
@media screen and (max-width: 400px) {
    .components{
        height:40px!important;
    }
}