@using DOSMaps.Models
@model AdminPageModel
@{
    ViewBag.Title = "Index";
    ViewBag.FileUpload = true;
}

<h2>Upload Files & Correct Names</h2>

Conversions <input class="conversions" name="files[]" multiple="" type="file" /><br />
Test Data <input class="testData" name="files[]" multiple="" type="file" /><br />
<h3>Enter the name of each country listed</h3>
@foreach (Chunk multi in Model.Multis)
{
    <div class="multi" id="@multi.ID">
        <span>@multi.FullDescription</span> <a class="plus">+</a><br/>
        <input type="button" value="Save" class="save-multi" />
        <input placeholder="Country Name" class="country-name" /></div>
}
<h3>Enter the parsable name of each country listed</h3>
@foreach (Country country in Model.UnnamedCountries)
{
    <div class="country" id="@country.ID">
        <span>@country.GivenName</span><br />
        <input type="button" value="Save" class="save-country-name" />
        <input placeholder="Country Name" class="country-name" />
    </div>
}