@{
    ViewBag.Title = "Home Page";
}

<div class="map">
    <input class="uploadCodes" type="button" value="Upload CSV for conversion codes" />
    <input class="uploadTest" type="button" value="Upload CSV for test data" />
</div>
<div class="control-panel">
    <input class="test" type="button" value="Test!" />
    <div class="test-text"></div>
</div>