@{
    ViewBag.Title = "Home Page";
}


    <h1>Interactive Church Map</h1>

    <div class="front">
        <div id="perspective" class="world"><!--SVG container-->
        </div>
        
        <div class="components"><!--Contain toolbar-->
            <div id="legend" class="tooltiptext hide"><!--Color key-->
                <span class="top">Most</span>
                <span class="bottom">Least</span>
            </div>
            
            <button id="key">Color Key</button><!--Color key button-->
               
            <form class="toolbar"><!--Radio buttons-->
                <div><input id="r1" class="rbutton" type="radio" name="radiobuttons" value="pn">&nbsp;<label for="r1">Prayer Needed</label></div>
                <div><input id="r2" class="rbutton" type="radio" name="radiobuttons" value="pr">&nbsp;<label for="r2">Prayer Resources</label></div>
                <div><input id="r3" class="rbutton" type="radio" name="radiobuttons" value="ptf">&nbsp;<label for="r3">Prayer</label></div>
            </form>
        </div>
    </div> 
